/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: 100dvh;
}

app-root {
  display: block;
  height: 100vh;
  height: 100dvh;
  
  font-family: Roboto, "Helvetica Neue", sans-serif;

  padding: 1rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
