<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home" (click)="drawer.toggle()"><mat-icon>home</mat-icon>home</a>
      <a mat-list-item routerLink="customer" (click)="drawer.toggle()"><mat-icon>group</mat-icon>customers</a>
      <a mat-list-item routerLink="libri" (click)="drawer.toggle()"><mat-icon>note</mat-icon>libri</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span routerLink="/">Esempio lazy-loading modules</span>
      <span class="fillSpace"></span>
      <span *ngIf="!(isHandset$ | async)" class="buttons">

        <button mat-raised-button routerLink="home" color="primary" class="button">home</button>
        <button mat-raised-button routerLink="customer" color="primary" class="button">customers</button>
        <button mat-raised-button routerLink="libri" color="primary" class="button">libri</button>
      </span>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>